*{
    font-family: "Verdana", sans-serif;
}

.booking-panel {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr 3fr;
    background-color: #FFF;
    padding: 40px;
    box-shadow: 1px 0px 23px 3px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 1px 0px 23px 3px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 1px 0px 23px 3px rgba(0, 0, 0, 0.45);
    transition: all 0.7s ease;
    width: 90%;
    /* height: 100vh; */
    margin: 0 auto;
    margin-top: 3vh;
}

.booking-panel-poster>.movie-box {
    overflow: hidden;
}

.booking-panel-poster img {
    max-width: 100%;
}

.booking-panel-poster>.movie-box {
    margin: 0;
}

.booking-panel-details {
    border: 1px #6e5a11 solid;
    background-color: #FFF;
}

.booking-panel-details>.title {
    border-bottom: #969696 1px solid;
    color: #6e5a11;
    padding: 0 0 15px 0;
    margin: 0 0 15px 0;
    font-size: 24pt;
    padding: 35px 35px 20px 35px;
    font-weight: bold;
}

.movie-information>table {
    padding: 0 35px 0 35px;
}

.movie-information td {
    padding: 8px 25px 8px 0;
    text-align: left;
    color: #969696;
}

.movie-information table tr td:first-child {
    color: #585858;
    font-weight: bold;
}

.booking-panel-close>i {
    color: rgb(139, 139, 139);
    padding: 15px;
    float: right;
    cursor: pointer;
    transition: all 0.5s ease;
}

.booking-panel-close>i:hover {
    color: red;
}

.booking-panel-form {
    background-color: #FFF5EE;
    margin: auto;
    margin-top: 4vh;
    width: 90%;
    padding: 40px;
    box-shadow: 1px 0px 23px 3px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 1px 0px 23px 3px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 1px 0px 23px 3px rgba(0, 0, 0, 0.45);
}

.booking-panel-form form {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.booking-panel-form form button {
    border-radius: 4px;
    border: none;
    padding: 10px;
    margin-top: 10px;
    float: right;
    width: 25%;
    text-align: center;
    background-color: #a3861e;
    color: #FFF;
    transition: all 0.7s ease;
    cursor: pointer;
    height: 42px;
}

.booking-panel-form form button:hover {
    background-color: #b6b6b6
}

.booking-panel-form form select {
    padding: 10px;
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    background: #fff url('#') no-repeat calc(100% - 10px) 50%;
    /* custom arrow set as a background */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiICB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjE1cHgiIGhlaWdodD0iOHB4IiB2aWV3Qm94PSIwIDAgMTUgOCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTUgOCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+ICA8cGF0aCBmaWxsPSIjODk4OTg5IMKgIiBkPSJNMS4wMywwLjE3NWMtMC4yMzYtMC4yMzMtMC42MTgtMC4yMzMtMC44NTQsMGMtMC4yMzUsMC4yMzItMC4yMzYsMC42MSwwLDAuODQybDYuODk3LDYuODA5ICAgIGMwLjIzNiwwLjIzMywwLjYxOCwwLjIzMywwLjg1NCwwbDYuODk3LTYuODA5YzAuMjM2LTAuMjMzLDAuMjM2LTAuNjEsMC0wLjg0MmMtMC4yMzYtMC4yMzMtMC42MTgtMC4yMzMtMC44NTQsMEw3LjUsNi4zODQgICAgTDEuMDMsMC4xNzV6Ii8+ICA8L3N2Zz4=);
    box-sizing: border-box;
    border: solid 2px #cbcbcb;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    color: #606060;
    text-indent: 0.01px;
    text-overflow: '';
    width: 250px;
    min-width: 150px;
    height: 42px;
    margin: 5px 0;
}

.booking-panel-form form input {
    border-radius: 4px;
    border: 1px solid #6e6e6e;
    padding: 10px;
    width: 31%;
    height: 42px;
    margin: 5px 0;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: black;
    color: #eee;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.movie-dates{
    border: none;
    padding: 3vh;
    margin-right: 2vh;
    text-align: center;
    background-color: black;
    color: #FFF;
    transition: all 0.7s ease;
    cursor: pointer;
    font-size: 15px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
}

.movie-dates:hover{
    background-color: grey;
}

.movie-dates-active{
    background-color: grey !important;
}

.movie-times{
    border: none;
    padding: 2vh;
    margin-right: 2vh;
    margin-bottom: 2vh;
    text-align: center;
    background-color: black;
    color: #FFF;
    transition: all 0.7s ease;
    cursor: pointer;
    font-size: 15px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
}

.movie-times:hover{
    background-color: grey;
}

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}