/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 14, 2020, 11:45:35 PM
    Author     : Zahir
*/

*{
    font-family: "Verdana", sans-serif;
}

.movie-details-panel {
    background-color: #FFF;
    padding: 40px;
    box-shadow: 1px 0px 23px 3px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 1px 0px 23px 3px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 1px 0px 23px 3px rgba(0, 0, 0, 0.45);
    transition: all 0.7s ease;
    width: 90%;
    /* height: 100vh; */
    margin: 0 auto;
    margin-top: 3vh;
}

.movie-details-top{
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 3fr 1fr;
}

.movie-details-close>i {
    color: rgb(139, 139, 139);
    padding: 15px;
    float: right;
    cursor: pointer;
    transition: all 0.5s ease;
}

.movie-details-close>i:hover {
    color: red;
}

.movie-details h3{
    text-align: center;
    vertical-align: middle;
}

.movie-details img {
    width: 25px;
    height: 25px;
    padding-left: 1vh;
    vertical-align: middle;
}