.ticket-selection {
    background-color: #FFF;
    padding: 40px;
    box-shadow: 1px 0px 23px 3px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 1px 0px 23px 3px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 1px 0px 23px 3px rgba(0, 0, 0, 0.45);
    transition: all 0.7s ease;
    width: 90%;
    /* height: 100vh; */
    margin: 0 auto;
    margin-top: 3vh;
}

.button {
    text-align: center;
    padding-top: 4vh;
}

.button button {
    background-color: grey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: all 0.7s ease;
    cursor: pointer;
}

.button button:hover{
    background-color: black;
}